<div   class="nh-timeline"  ng-repeat="follow in follows">
<div class="nh-timeline-left">
	<div class="nh-timeline-circle"></div>
	<div class="nh-timeline-vertical"></div>
</div>
<div class="nh-timeline-middle">{{follow.day}}</div>
<div class="nh-timeline-right">
	<section ng-repeat="content in follow.contents">
	<p class="color-333"> <span>{{content.state}}</span>{{content.text}}</p>
	<p><span>{{content.source}}</span><span>{{content.name}}</span><span>{{content.time}}</span></p>
	</section>
</div>
</div>