.content {

	width: 960px;
	margin: auto;
}

.w5c-form {
  input:focus:invalid:focus,
  textarea:focus:invalid:focus,
  select:focus:invalid:focus {
    border-color : rgba(82, 168, 236, 0.8);
    outline      : 0;
    outline      : thin dotted \9;
    
    color        : #000000;
  }

  input.error:invalid,
  textarea.error:invalid,
  select.error:invalid {
    border-color       : #b94a48;
    -webkit-box-shadow : 0 0 6px #f8b9b7;
    -moz-box-shadow    : 0 0 6px #f8b9b7;
    box-shadow         : 0 0 6px #f8b9b7;
  }

  .dropdown-menu {
    max-height : 400px;
    overflow-y : auto;
  }
  .alert{
    margin-bottom: 0px;
  }

  .w5c-error {
    color: #b94a48;
    display: block;
    margin-top: 5px;
  }
}

.color-777 {

  color: #777;
}
.color-333 {

  color: #333;
}
.color-999999 {

  color: #999999;
}


header {
  height: 80px;


  .logo {
    margin-top: 10px;
    line-height: 70px;
    font-size: 24px;
    display: inline-block;
    color: #f68f3f;
    font-family: "微软雅黑","宋体";
    font-weight: bold;

    img {

      height: 60px;
    }


}




}