<ol class="breadcrumb">
  <li><a href="#">首页</a></li>
  <li class="active">案场人员管理</li>
</ol>

<a type="button" class="btn btn-success" ng-click="open()">新增案场人员</a>
<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>案场人员</th>
		<th>驻守楼盘</th>
		<th>注册时间</th>
		<th>用户状态</th>
		<th>操作</th>
	
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rowCollection">
		<td>
		<a ui-sref="houses.detail">{{row.firstName}}</a>
		</td>
		<td>{{row.lastName}}</td>
		<td>{{row.birthDate}}</td>


		<td>{{row.email}}</td>
		<td><a type="button" ui-sref="houses.add">编辑</a></td>
	</tr>
	</tbody>
			<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
</table>