<ol class="breadcrumb">
  <li><a href="#">首页</a></li>
  <li><a ui-sref="houses.list">楼盘列表</a></li>
  <li class="active">新增楼盘</li>
</ol>
<form class="form-horizontal w5c-form demo-form" role="form"
	w5c-form-validate="vm.validateOptions" novalidate name="validateForm">
	<div nh-title>基本信息</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">楼盘名称：</label>
		<div class="col-sm-6">
			<input  name="normal" ng-model="entity.email" required="" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">物业类别：</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"> 均价：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">楼盘地址：</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">售楼处地址：</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
	
	<div nh-title>合作规则</div>



	<div class="form-group">
		<label class="col-sm-2 control-label"> 合作房源：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
		<div class="form-group">
		<label class="col-sm-2 control-label"> 购房优惠：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
		<div class="form-group">
		<label class="col-sm-2 control-label"> 报备保护期：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>

		<div class="form-group">
		<label class="col-sm-2 control-label"> 开发商保护期：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
		<div class="form-group">
		<label class="col-sm-2 control-label"> 认购截至日：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
		<div class="form-group">
		<label class="col-sm-2 control-label"> 佣金规则：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
		<div class="form-group">
		<label class="col-sm-2 control-label"> 奖励措施：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
		</div>
		<div class="form-group">
		<label class="col-sm-2 control-label">开发商界定规则：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
		</div>
		<div class="form-group">
		<label class="col-sm-2 control-label">项目经理：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
	














 

   






















	<div nh-title>楼盘卖点</div>
	<div nh-title>其他</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="buttom" w5c-form-submit="vm.saveEntity()" class="btn btn-success"> 验证</button>
		</div>
	</div>
</form>