<div nh-title>个人信息</div>
<form class="form-horizontal w5c-form demo-form" role="form"
	w5c-form-validate="vm.validateOptions" novalidate name="validateForm">
	
	<div class="form-group">
		<label class="col-sm-2 control-label">用户名:</label>
		<div class="col-sm-6">
			<label class="control-label">用户名</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">姓名</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"> 手机：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
		<div class="form-group">
		<label class="col-sm-2 control-label"> 邮箱：
		</label>
		<div class="col-sm-6">
			<input required="" ng-model="entity.name"
			class="form-control" name="normal" >
		</div>
	</div>
</form>
<div nh-title>驻守楼盘</div>